[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "prioriactions"]
	path = prioriactions
	url = https://github.com/prioriactions/prioriactions
